version: '3'

services:
  frontend:
    image: ghcr.io/anukchat/postbot-frontend:latest
    container_name: postbot-frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always

  backend:
    image: ghcr.io/anukchat/postbot-backend:latest
    container_name: postbot-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
