version: '3'

services:
  frontend:
    image: ghcr.io/anukchat/postbot-frontend:latest
    container_name: postbot-frontend
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - VITE_SUPABASE_URL
      - VITE_SUPABASE_ANON_KEY
      - VITE_API_URL=/api
      - VITE_REDIRECT_URL=http://15.207.19.241/app
      - VITE_ENV=production
    restart: always
    depends_on:
      - backend

  backend:
    image: ghcr.io/anukchat/postbot-backend:latest
    container_name: postbot-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - SUPABASE_URL
      - SUPABASE_KEY
      - GEMINI_API_KEY
      - REDDIT_CLIENT_ID
      - REDDIT_CLIENT_SECRET
      - REDDIT_USER_AGENT
      - SERPER_API_KEY
    restart: always